body{
    padding: 20px;
    background-color: lightblue;
}

#check h2, form{
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=reset]{
    margin: 10px;
}

input[type=submit]{
    margin: 10px;
}

button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: azure;
    border: none;

}
button:hover {
    background: hotpink;
}

a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: blue;
}