<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../styles/style.css" rel="stylesheet">
    <title>Checkout</title>
</head>
<body>

<div id="check"><h2>Checkout</h2>

    <form action="mailto:someone@example.com" name="myForm"
          onsubmit="return validateForm()" method="post" enctype="text/plain">

        First name:<br>
        <input type="text" name="fname"><br>
        Last name:<br>
        <input type="text" name="lname"><br>
        E-mail:<br>
        <input type="text" name="mail"><br>
        Phone:<br>
        <input type="text" placeholder="(555) 555-1212"><br>
        Street address:<br>
        <input type="text" name="address"><br>
        Zip code:<br>
        <input type="text" name="zip" placeholder="90210"><br>
        City:<br>
        <input type="text" name="city"><br>
        Comment:<br>
        <textarea name="comments" rows="6"></textarea><br><br>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form></div>


<script src="../scripts/checkout.js"></script>
</body>
</html>