body{
    padding: 20px;
    background-color: lightblue;
}

#check h2, form{
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=reset]{
    margin: 10px;
}

input[type=submit]{
    margin: 10px;
}

a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: blue;
}

#auto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img{
    margin: 100px;
    width: 400px;
}